@font-face {
    font-family: 'Acrom Bold'; /* 700 */
    src: url(./libs/font/Acrom-Bold.ttf);
}

@font-face {
    font-family: 'Acrom ExtraBold';
    src: url(./libs/font/Acrom-ExtraBold.ttf);
}

@font-face {
    font-family: 'Acrom Medium'; /* 500 */
    src: url(./libs/font/Acrom-Medium.ttf);
}

@font-face {
    font-family: 'Acrom Regular'; /* 400 */
    src: url(./libs/font/Acrom-Regular.ttf);
}