* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}



/* Universal codes */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f1eb17;
}

body::-webkit-scrollbar-thumb {
    background-color: #215fac;
    border-radius: 20px;
}

body {
    padding: 0px 65px;
    /* background-color: #0018f9; */
    background-color: #0080FE;
}

span.typer {
    font-family: 'Acrom Bold';
    font-size: 40px;
    line-height: 33px;
    color: white;
    /* text-transform: uppercase; */
}

h1.typer_element {
    font-family: 'Acrom Bold';
    font-size: 40px;
    line-height: 33px;
    color: #f1eb17;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: white;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #f1eb17;
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

p,
h1,
ul {
    margin-bottom: 0;
}

/* header_starting */
header {
    width: 100%;
    padding-top: 20px;
    position: relative;
    /* background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,128,254,1) 100%); */
}

.element_1 {
    width: 40%;
    height: 500px;
    position: absolute;
    bottom: 40px;
    left: -122px;
    opacity: 0.8;
}

header .navbar {
    padding-top: 0;
    padding-bottom: 25px;
    border-bottom: 4px solid #f1eb17;
}

header .navbar .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

header .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar .navbar-brand img {
    width: 140px;
}

header .navbar .navbar-collapse {
    flex-grow: 0;
}

header .navbar .navbar-collapse .navbar-nav {
    align-items: center;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:first-of-type {
    margin-right: 150px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:not(header .navbar .navbar-collapse .navbar-nav .nav-item:last-of-type) {
    margin-right: 70px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:first-of-type .nav-link {
    padding: 6px 60px;
    outline: 3px solid white;
    border-radius: 100px;
    font-family: 'Acrom Medium';
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #215fac;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 15px 5px white; */
    background-color: #f1eb17;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:first-of-type .nav-link i {
    margin-left: 20px;
    font-size: 25px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
    display: none;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(2) .nav-link,
header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(3) .nav-link,
header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(4) .nav-link {
    font-family: 'Acrom Regular';
    font-size: 16px;
    line-height: 16px;
    color: white;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(2) .nav-link:hover,
header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(3) .nav-link:hover,
header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(4) .nav-link:hover {
    color: #f1eb17;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(2) .nav-link i,
header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(3) .nav-link i,
header .navbar .navbar-collapse .navbar-nav .nav-item:nth-of-type(4) .nav-link i {
    margin-right: 14px;
    color: white;
    font-size: 18px;
}

header .header_title {
    margin-top: 25px;
}

.header_title .typer {
    font-family: 'Acrom Bold';
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    text-transform: uppercase;
}

header .header_title .owl-carousel .slide_1 {
    background: url("./img/1-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_2 {
    background: url("./img/2-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_3 {
    background: url("./img/3-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_4 {
    background: url("./img/4-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_5 {
    background: url("./img/5-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_6 {
    background: url("./img/6-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_7 {
    background: url("./img/7-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_8 {
    background: url("./img/8-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_9 {
    background: url("./img/9-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header_title .owl-carousel .slide_10 {
    background: url("./img/10-slide\ copy.jpg") no-repeat center / cover;
    border-radius: 20px;
    min-height: 500px;
    border: 3px solid #f1eb17;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* header_end */

/* main_starting */
main {
    width: 100%;
    margin-top: 25px;
}

main .new_products .owl-carousel {
    margin-top: 25px;
    position: relative;
}

/* main .owl-carousel .owl-stage-outer {
    max-width: 1367px;
} */

main .new_products .owl-carousel .new_products_cards .card {
    width: 100%;
    border-radius: 20px;
    margin-right: 0 !important;
    box-shadow: 0px 10px 13px -7px #000000;
    margin-bottom: 50px;
    cursor: pointer;
}

main .new_products .owl-carousel .new_products_cards .card .product-title {
    font-family: 'Acrom Medium';
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    color: #215fac;
    margin-bottom: 15px;
}

main .new_products .owl-carousel .new_products_cards .card .product-month_price {
    font-family: 'Acrom Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: red;
    margin-bottom: 0px;
}

main .new_products .owl-carousel .new_products_cards .card .price {
    font-family: 'Acrom Regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: black;
    margin-bottom: 20px;
}

main .new_products .owl-carousel .new_products_cards .card .btn {
    font-family: 'Acrom Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    background-color: #215fac;
    border-radius: 10px;
}

main .new_products .owl-carousel .owl-nav {
    display: block;
}

main .new_products .owl-carousel .owl-nav button:last-of-type {
    width: 50px;
    height: 50px;
    margin: 0px;
    position: absolute;
    top: 40%;
    right: 0px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #f1eb17;
}

main .new_products .owl-carousel .owl-nav button:first-of-type {
    width: 50px;
    height: 50px;
    margin: 0px;
    position: absolute;
    top: 40%;
    left: -25px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #f1eb17;
}

main .new_products .owl-carousel .owl-nav button span {
    color: #215fac;
    font-size: 30px;
}

main .steps .element {
    width: 35rem;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    align-items: center;
    margin-right: 25px;
}

main .steps .element:last-of-type {
    width: 72rem;
}

main .steps .row:first-of-type .card {
    width: 18rem;
    margin-top: 25px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}

main .steps .row:last-of-type .card {
    width: 8rem;
    border-radius: 20px;
    text-align: center;
    margin-right: 20px;
    margin-top: 0;
}

main .steps .row:first-of-type .card:last-of-type {
    width: 41rem;
}

main .steps .row:first-of-type .card .card-body {
    flex: none;
}

main .steps .row:first-of-type .card:last-of-type .card-body {
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
}

main .steps .row:first-of-type .card:last-of-type i {
    margin-bottom: 0;
}

main .steps .row:first-of-type .card:last-of-type .card-title {
    text-align: left;
    margin-left: 20px;
    text-align: justify;
}

main .steps .row:first-of-type .card i {
    font-size: 100px;
    color: #0080FE;
    margin-bottom: 10px;
}


main .steps .row:last-of-type .card:first-of-type i {
    font-size: 100px;
    color: #0080FE;
}

main .steps .row:last-of-type .card:first-of-type .card-body:first-of-type i {
    font-size: 80px;
}

main .steps .row:first-of-type .card .card-title {
    font-family: 'Acrom Medium';
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: red;
    margin-bottom: 0;
}

main .steps .row:last-of-type .card-title {
    font-family: 'Acrom Medium';
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #f1eb17;
    margin-bottom: 0;
    text-align: left;
}

main .steps .row:last-of-type .card-desc {
    font-family: 'Acrom Medium';
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: white;
}

main .steps .row:first-of-type .card .card-title:last-of-type {
    font-size: 20px;
    line-height: 30px;
}

main .location {
    margin-top: 25px;
}

main .location .map iframe {
    margin-top: 25px;
}

main .location .inormation {
    width: 100%;
    margin-top: 25px;
}

main .location .inormation .card:nth-of-type(1) {
    width: 11rem;
}

main .location .inormation .card:nth-of-type(2) {
    width: 18rem;
}

main .location .inormation .card:nth-of-type(3) {
    width: 18rem;
}

main .location .inormation .card:nth-of-type(4) {
    width: 17rem;
}

main .location .inormation .card {
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.04);
    text-align: center;
    margin-right: 30px;
}

main .location .inormation .card:last-of-type{
    margin-right: 0;
}

main .location .inormation .card .card-title {
    font-family: 'Acrom Bold';
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    color: #215fac;
}

main .location .inormation .card .card-text {
    font-family: 'Acrom Regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #0080FE;
}

/* main_end */

/* footer_starting */

footer {
    width: 100%;
    background-color: #f1eb17;
    margin-top: 70px;
}

footer .footer_top {
    padding: 25px 0px;
    border-bottom: 2px solid #215fac;
}

footer .footer_top nav ul {
    display: flex;
    flex-wrap: wrap;
}


footer .footer_top nav ul li:not(footer .footer_top nav ul li:last-of-type) {
    margin-bottom: 15px;
}

footer .footer_top nav ul .social_media:not(footer .footer_top nav ul li .social_media:last-of-type) {
    margin-right: 20px;
}

footer .footer_top nav ul li a {
    font-family: 'Acrom Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #215fac;
}

footer .footer_top nav ul .social_media .social_media_icons i {
    font-size: 30px;
    border: none;
}

footer .footer_top nav ul .about_us a i {
    font-size: 21px;
    border: none;
}

footer .footer_top nav ul li a i {
    font-size: 14px;
    border: 3px solid white;
    border-radius: 50%;
}

footer .footer_bottom{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .footer_bottom p{
    font-family: 'Acrom Regular';
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #215fac;
    text-align: center;
}

footer .footer_bottom a{
    font-family: 'Acrom Regular';
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #215fac;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_bottom a img{
    width: 50px;
    margin-left: 20px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}